.main-app {
  height: 100vh;
  background-color: #2D2D2D;
  padding: 0px;
  color: white;
}
/*Navbar styling*/
.navColor {
  background-color: #202020;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}
.changeNavColor {
  margin-right: 2rem !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

.changeNavColor:hover {
  color: rgb(0, 241, 161) !important;
  font-family: 'Roboto', sans-serif;
}
/*Navbar styling*/

/*Navbar styling*/
.mainSection {
  height: 100%;
}

.chartSection {
  background-color: #202020;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 1.0rem;
  padding: 0px;
}

.buySection {
  background-color: #202020;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
  padding: 0px;
}